ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-image: linear-gradient(to right, rgba(51,102, 153, 0.4), rgba(102,102,102, 1));
    font-size: large;
}

span {
    font-weight: bold;
}
